.management {
  width: 1200px;
  height: 600px;
  margin-top: 500px;
}
.management img {
  position: absolute;
  top: 1100px;
  left: 700px;
}
.management .validation {
  width: 420px;
  height: 500px;
  position: absolute;
  top: 1200px;
}
@media only screen and (max-width: 769px) {
  .management img {
    top: 1200px;
    left: 80px;
  }
  .management .validation {
    top: 1800px;
  }
}

.customer {
  position: absolute;
  width: 1100px;
  height: 600px;
  margin-top: 100px;
}
.customer img {
  position: absolute;
}
.customer .easler {
  width: 450px;
  height: 450px;
  margin-left: 700px;
  position: absolute;
  margin-top: 50px;
}
.customer .yellow {
  width: 400px;
  height: 80px;
}
.customer .yellow .sariq {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  background-color: yellow;
  display: inline-block;
}
.customer .yellow .sariq svg {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: 10px;
}
.customer .yellow p {
  position: absolute;
  top: 160px;
  left: 70px;
}
.customer .red {
  width: 400px;
  height: 80px;
}
.customer .red .qizil {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  background-color: red;
  display: inline-block;
}
.customer .red .qizil svg {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: 10px;
}
.customer .red p {
  position: absolute;
  top: 235px;
  left: 70px;
}
.customer .blue {
  width: 400px;
  height: 80px;
}
.customer .blue .kuk {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  background-color: blue;
  display: inline-block;
}
.customer .blue .kuk svg {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-left: 10px;
}
.customer .blue p {
  position: absolute;
  top: 317px;
  left: 70px;
}
@media only screen and (max-width: 769px) {
  .customer {
    margin-top: 1000px;
    width: 550px;
  }
  .customer .easler {
    top: 600px;
    margin-left: 0px;
  }
}

.collaborative {
  width: 1200px;
  height: 600px;
  margin-top: 700px;
}
.collaborative img {
  margin-left: 600px;
}
.collaborative .success {
  width: 420px;
  height: 500px;
  position: absolute;
  top: 2370px;
}
@media only screen and (max-width: 769px) {
  .collaborative {
    width: 550px;
    margin-top: 2000px;
  }
  .collaborative img {
    visibility: hidden;
  }
  .collaborative .success {
    top: 3310px;
  }
}

.quick {
  display: inline-block;
  width: 1100px;
  height: 500px;
}
.quick .avatar {
  width: 400px;
  margin-top: 30px;
  margin-left: 150px;
  height: 80px;
  display: flex;
}
.quick .avatar p {
  padding: 8px;
  margin: 20px;
  background-color: #d4e7e3;
  border-radius: 30px;
}
.quick .avatar1 {
  position: absolute;
  width: 400px;
  left: 720px;
  top: 3020px;
  height: 80px;
  display: flex;
}
.quick .avatar1 p {
  padding: 8px;
  margin: 20px;
  background-color: #d4e7e3;
  border-radius: 30px;
}
.quick .avatar2 {
  width: 400px;
  margin-top: 20px;
  margin-left: 150px;
  height: 80px;
  display: flex;
  position: absolute;
}
.quick .avatar2 p {
  padding: 8px;
  margin: 20px;
  background-color: #d4e7e3;
  border-radius: 30px;
}
.quick .avatar3 {
  position: absolute;
  left: 720px;
  top: 3122px;
  width: 400px;
  height: 80px;
  display: flex;
}
.quick .avatar3 p {
  padding: 8px;
  margin: 20px;
  background-color: #d4e7e3;
  border-radius: 30px;
}
.quick button {
  margin-top: 150px;
}
@media only screen and (max-width: 769px) {
  .quick {
    width: 550px;
    height: 400px;
    font-size: 13px;
  }
  .quick button {
    margin-top: 150px;
    font-size: 10px;
  }
  .quick .avatar {
    width: 400px;
    margin-top: 30px;
    margin-left: 10px;
    height: 50px;
  }
  .quick .avatar p {
    padding: 10px;
    margin: 7px;
  }
  .quick .avatar1 {
    position: absolute;
    width: 400px;
    left: 380px;
    top: 3905px;
    height: 50px;
  }
  .quick .avatar1 p {
    padding: 8px;
    margin: 7px;
  }
  .quick .avatar2 {
    width: 400px;
    margin-top: 20px;
    margin-left: 15px;
    height: 50px;
    display: flex;
    position: absolute;
  }
  .quick .avatar2 p {
    padding: 8px;
    margin: 7px;
  }
  .quick .avatar3 {
    left: 380px;
    top: 3980px;
    width: 400px;
    height: 50px;
  }
  .quick .avatar3 p {
    padding: 8px;
    margin: 7px;
  }
}

.images {
  width: 1100px;
  height: 100px;
  margin: 40px;
}
@media only screen and (max-width: 769px) {
  .images {
    width: 550px;
  }
}

.pictures {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 20px;
}
.pictures .card {
  border: 1px solid grey;
  transition: 0.4s ease all;
}
.pictures .card:hover {
  cursor: pointer;
  transform: scale(1.1);
}
@media only screen and (max-width: 769px) {
  .pictures {
    justify-content: flex-start;
  }
}

.rain {
  position: absolute;
  margin-top: 350px;
  width: 1100px;
  height: 40px;
  display: flex;
  justify-content: center;
}
.rain .round {
  width: 20px;
  height: 20px;
  background-color: #cec5c5;
  border-radius: 50%;
  border: 1px solod #b8b4b4;
  margin: 10px;
  transition: 0.4s ease all;
}
.rain .round:hover {
  background-color: #02897a;
}
@media only screen and (max-width: 769px) {
  .rain {
    width: 550px;
  }
}

.price {
  position: absolute;
  top: 4000px;
  width: 1100px;
  height: 70px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 769px) {
  .price {
    top: 4800px;
    width: 550px;
  }
}

.booking {
  display: flex;
  justify-content: space-around;
  width: 1200px;
  position: absolute;
  top: 4100px;
}
@media only screen and (max-width: 769px) {
  .booking {
    width: 550px;
    top: 4890px;
  }
}

.clients {
  position: absolute;
  top: 4700px;
  width: 1100px;
  height: 100px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 769px) {
  .clients {
    top: 5500px;
    width: 550px;
  }
}

.sailing {
  display: flex;
  justify-content: space-around;
  width: 1200px;
  left: 80px;
  position: absolute;
  top: 4850px;
}
@media only screen and (max-width: 769px) {
  .sailing {
    top: 5640px;
    width: 400px;
    height: 120px;
    left: 150px;
  }
}

.frame {
  position: absolute;
  top: 5200px;
}
@media only screen and (max-width: 769px) {
  .frame {
    width: 550px;
    top: 5850px;
  }
}

.footer {
  width: 1200px;
  height: 200px;
  position: absolute;
  top: 5700px;
}
.footer .media {
  width: 300px;
  height: 100%;
  margin-left: 50px;
}
.footer .media h3 {
  color: #04155f;
}
.footer .media svg {
  width: 30px;
  height: 30px;
  margin: 10px;
  color: #02897a;
}
.footer .media svg:hover {
  opacity: 0.5;
}
.footer .recource {
  width: 300px;
  height: 100%;
  margin-left: 300px;
  position: absolute;
  top: 0px;
}
.footer .recource p {
  padding-left: 60px;
  font-weight: bolder;
}
.footer .recource a {
  padding: 60px;
  font-size: 14px;
  text-decoration: none;
  color: black;
}
.footer .legal {
  width: 200px;
  height: 100%;
  margin-left: 600px;
  position: absolute;
  top: 0px;
}
.footer .legal p {
  padding-left: 40px;
  font-weight: bolder;
}
.footer .legal a {
  padding: 40px;
  font-size: 14px;
  text-decoration: none;
  color: black;
}
.footer .enter {
  width: 200px;
  height: 100%;
  margin-left: 800px;
  position: absolute;
  top: 0px;
}
.footer .enter input {
  width: 200px;
  height: 40px;
  border: 1px solid grey;
}
@media only screen and (max-width: 769px) {
  .footer {
    width: 550px;
    top: 6200px;
  }
  .footer .legal {
    margin-left: 0px;
    top: 170px;
  }
  .footer .enter {
    top: 170px;
    margin-left: 330px;
  }
  .footer .text-center {
    visibility: hidden;
  }
}

@media only screen and (max-width: 600px) {
  header {
    width: 600px;
    background-color: blueviolet;
  }
  header ul {
    visibility: hidden;
  }
}
.header {
  height: 80px;
  width: 1200px;
  left: 0px;
  top: 80px;
  border-radius: 0px;
}
.header .pcl {
  position: absolute;
  font-size: 28px;
  width: 122px;
  left: 202px;
  top: 23px;
  color: #04155f;
}
.header li {
  display: flex;
  float: right;
  padding: 20px;
}
.header li img:hover {
  opacity: 0.5;
  transition: 0.3s ease all;
  cursor: pointer;
}
.header li a {
  text-decoration: none;
  color: #b1aeae;
  font-size: 18px;
}
.header li a:hover {
  color: #132557;
  transition: 0.2s ease all;
}
.header li button {
  padding: 2px 10px;
  border: 1px solid #c9c9f5;
  border-radius: 3px;
  background-color: white;
  border: 1px solid #02897a;
}
.header li button:hover {
  background-color: #02897a;
  transition: 0.2s ease all;
}
.header img {
  width: 20px;
  height: 20px;
}

@media only screen and (max-width: 769px) {
  .header {
    width: 550px;
  }
  .header ul {
    opacity: 0;
  }
}
@media only screen and (max-width: 769px) and (max-width: 769px) {
  .group {
    visibility: hidden;
  }
}
.speed {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 200px;
  left: 130px;
}
.speed h2 {
  padding-bottom: 20px;
}
.speed button {
  margin-top: 20px;
  padding: 10px 25px;
  border-style: none;
  color: white;
  font-weight: bolder;
  background-color: #02897a;
}
.speed button:hover {
  background-color: #099e79;
  transition: 0.2s ease all;
}
.speed a {
  position: absolute;
  top: 220px;
  left: 150px;
  color: #02897a;
}
.speed a svg {
  width: 25px;
  height: 25px;
}
.speed a:hover {
  color: #099e79;
  transition: 0.2s ease all;
}

.group {
  position: absolute;
  left: 650px;
}

.build {
  width: 450px;
  height: 100px;
  position: absolute;
  top: 740px;
  left: 500px;
}
.build h2 {
  font-weight: bolder;
}

@media only screen and (max-width: 769px) {
  .build {
    left: 130px;
    top: 550px;
    margin-bottom: 0px;
  }
}
#networks {
  width: 1200px;
  height: 400px;
  margin-left: 70px;
  position: relative;
  top: 750px;
  display: flex;
  flex-wrap: nowrap;
}
#networks .telegram {
  width: 400px;
  height: 200px;
  display: inline-block;
  margin: 40px;
  transition: 0.4s ease all;
}
#networks .telegram:hover {
  cursor: pointer;
}
#networks .telegram:hover .graph {
  transform: scale(1.5);
}
#networks .telegram .graph {
  width: 50px;
  height: 50px;
  background-color: #02897a;
  border-radius: 20px;
  margin-bottom: 20px;
}
#networks .survey {
  width: 400px;
  height: 200px;
  margin: 40px;
}
#networks .survey:hover {
  cursor: pointer;
}
#networks .survey:hover .design {
  transform: scale(1.5);
  transition-duration: 0.3s;
  transition: 0.3s ease all;
}
#networks .survey .design {
  width: 50px;
  height: 50px;
  background-color: #00aeff;
  border-radius: 20px;
  margin-bottom: 20px;
}
#networks .love {
  width: 400px;
  height: 200px;
  margin: 40px;
}
#networks .love:hover {
  cursor: pointer;
}
#networks .love:hover .performance {
  transform: scale(1.5);
  transition-duration: 0.3s;
  transition: 0.3s ease all;
}
#networks .love .performance {
  width: 50px;
  height: 50px;
  background-color: #8b09be;
  border-radius: 20px;
  margin-bottom: 20px;
}
#networks .love .performance svg {
  width: 20px;
  height: 20px;
  margin: 15px;
}
#networks .time {
  width: 400px;
  height: 200px;
  margin: 40px;
}
#networks .time:hover {
  cursor: pointer;
}
#networks .time:hover .second {
  transform: scale(1.5);
  transition-duration: 0.3s;
  transition: 0.3s ease all;
}
#networks .time .second {
  width: 50px;
  height: 50px;
  background-color: #ff3300;
  border-radius: 20px;
  margin-bottom: 20px;
}
#networks .time .second svg {
  margin: 15px;
}
#networks button {
  margin-top: 220px;
  position: absolute;
  left: 450px;
}

@media only screen and (max-width: 760px) {
  #networks {
    width: 550px;
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    height: 370px;
    font-size: 12px;
  }
  #networks button {
    margin-top: 290px;
    margin-left: 0px;
  }
  #networks .telegram {
    width: 200px;
    height: 400px;
    margin: 20px;
  }
  #networks .survey {
    width: 200px;
    height: 400px;
    margin: 20px;
  }
  #networks .love {
    width: 200px;
    height: 400px;
    margin: 20px;
  }
  #networks .time {
    width: 200px;
    height: 400px;
    margin: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
