.quick{
    display: inline-block;
    width: 1100px;
    height: 500px;
        .avatar{
            width:400px;
            margin-top: 30px;
            margin-left: 150px;
            height: 80px;
            display: flex;
                p{
                    padding: 8px;
                    margin: 20px;
                    background-color: rgb(212, 231, 227);
                    border-radius: 30px;
                }
        }

        .avatar1{
            position: absolute;
            width:400px;
            left: 720px;
            top: 3020px;
            height: 80px;
            display: flex;
                p{
                    padding: 8px;
                    margin: 20px;
                    background-color: rgb(212, 231, 227);
                    border-radius: 30px;
                }
        }

        .avatar2{
            width:400px;
            margin-top: 20px;
            margin-left: 150px;
            height: 80px;
            display: flex;
            position: absolute;
                p{
                    padding: 8px;
                    margin: 20px;
                    background-color: rgb(212, 231, 227);
                    border-radius: 30px;
                }
        }

        .avatar3{
            position: absolute;
            left: 720px;
            top: 3122px;
            width:400px;
            height: 80px;
            display: flex;
                p{
                    padding:8px;
                    margin: 20px;
                    background-color: rgb(212, 231, 227);
                    border-radius: 30px;
                }
        }
        button{
            margin-top: 150px;
        }

        @media only screen and (max-width:769px){
            width: 550px;
            height: 400px;
            font-size: 13px;
            button{
                margin-top: 150px;
                font-size: 10px;
            }
            .avatar{
                width:400px;
                margin-top: 30px;
                margin-left: 10px;
                height: 50px;
                    p{
                        padding: 10px;
                        margin: 7px;
                    }
            }
    
            .avatar1{
                position: absolute;
                width:400px;
                left: 380px;
                top: 3905px;
                height: 50px;
                    p{
                        padding: 8px;
                        margin: 7px;
                    }
            }
    
            .avatar2{
                width:400px;
                margin-top: 20px;
                margin-left: 15px;
                height: 50px;
                display: flex;
                position: absolute;
                    p{
                        padding: 8px;
                        margin: 7px;
                    }
            }
    
            .avatar3{
                left: 380px;
                top: 3980px;
                width:400px;
                height: 50px;
                    p{
                        padding:8px;
                        margin: 7px;
                    }
            }
        }
    }
    .images{
        width: 1100px;
        height: 100px;
        margin: 40px;
        @media only screen and (max-width:769px){
            width: 550px;

        }
    }

    .pictures{
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
        margin-bottom: 20px;
            .card{
                border: 1px solid grey;
                transition: .4s ease all;
                    &:hover{
                        cursor: pointer;
                        transform: scale(1.1);
                    }
            }
            @media only screen and (max-width:769px){
                justify-content: flex-start;
            }
    }
    .rain{
        position: absolute;
        margin-top: 350px;
        width: 1100px;
        height: 40px;
        display: flex;
        justify-content: center;
            .round{
                width: 20px;
                height: 20px;
                background-color: rgb(206, 197, 197);
                border-radius: 50%;
                border: 1px solod rgb(184, 180, 180);
                margin: 10px;
                transition: .4s ease all;
                    &:hover{
                        background-color: rgba(2, 137, 122, 1);
                       
                    }
            }
            @media only screen and (max-width:769px) {
                width: 550px;                
            }
    }
    .price{
        position: absolute;
        top: 4000px;
        width: 1100px;
        height: 70px;
        margin-bottom: 20px;
        @media only screen and (max-width:769px) {
            top: 4800px;
            width: 550px;
        }
    }
    .booking{
        display: flex;
        justify-content: space-around;
        width: 1200px;
        position: absolute;
        top: 4100px;
        @media only screen and (max-width:769px) {
            width: 550px;
            top: 4890px;  
        }
    }
    .clients{
        position: absolute;
        top: 4700px;
        width: 1100px;
        height: 100px;
        margin-bottom: 20px;
        @media only screen and (max-width:769px) {
            top: 5500px;
            width: 550px;            
        }
    }
    .sailing{
        display: flex;
        justify-content: space-around;
        width: 1200px;
        left: 80px;
        position: absolute;
        top: 4850px;
        @media only screen and (max-width:769px) {
            top: 5640px;
            width: 400px;  
            height: 120px;
            left: 150px;
        }
    }
    .frame{
        position: absolute;
        top: 5200px;
        @media only screen and (max-width:769px) {
            width: 550px;
            top: 5850px;  
        }
    }

    .footer{
        width: 1200px;
        height: 200px;
        position: absolute;
        top: 5700px;
            .media{
                width: 300px;
                height: 100%;
                margin-left: 50px;
                    h3{
                        color: rgb(4, 21, 95);
                    }
                    svg{
                        width: 30px;
                        height: 30px;
                        margin: 10px;
                        color: rgba(2, 137, 122, 1);
                            &:hover{
                                opacity: .5;
                            }
                    }
                    
            }
            .recource{
                width: 300px;
                height: 100%;
                margin-left: 300px;
                position: absolute; 
                top:0px; 
                    p{
                        padding-left: 60px;
                        font-weight: bolder;
                    }
                    a{
                        padding: 60px;
                        font-size: 14px;
                        text-decoration: none;
                        color: black;
                    }     
            }
            .legal{
                width: 200px;
                height: 100%;
                margin-left: 600px;
                position: absolute;
                top:0px; 
                    p{
                        padding-left: 40px;
                        font-weight: bolder;
                    }
                    a{
                        padding: 40px;
                        font-size: 14px;
                        text-decoration: none;
                        color: black;
                    }     
            }

            .enter{
                width: 200px;
                height: 100%;
                margin-left: 800px;
                position: absolute; 
                top:0px;
                    input{
                        width: 200px;
                        height: 40px;
                        border: 1px solid grey;
                    } 
            }
            @media only screen and (max-width:769px) {
                width: 550px;
                top: 6200px;
                .legal{
                    margin-left:0px;
                    top: 170px;
                }  
                .enter{
                    top: 170px;
                    margin-left: 330px;
                }
                .text-center{
                    visibility: hidden;
                }
            }
    }